main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    padding: 0px 0px 100px 0px;
    margin-top: 20vh;
}

.title-img {
    position: relative;
    width: 100%;
    margin-bottom: 20px 0px;
    z-index: -1;
}

.title-img-title {
    width: 90%;
    max-width: 1000px;
    position: absolute;
    color: var(--title);
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border: 1px white solid;
    padding: 10px 0px 10px 20px;
    background: rgba(12, 15, 34, 0.7);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.5px);
    z-index: 5;
}

.title-img-title > h1 {
    font-size: clamp(30px, 8vw, 100px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0px 0px 80px 0px;
    line-height: 1.1;
}

.title-img-title > h2 {
    position: absolute;
    left: 25px;
    bottom: 10px;
    font-size: clamp(24px, 4vw, 40px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20% 0px 0px 0px
}

.title-img-frame {
    display: flex;
    width: max-content;
    max-height: fit-content;
    height: 85vh;
    overflow: hidden;

    animation: scroll-left 180s linear infinite;
}   

.title-img-frame-overlay {
    content: "";
    position: absolute;
    inset: 0; 
    pointer-events: none;
    z-index: 1;

    background:
        linear-gradient(135deg, rgb(12, 15, 34, 0.4) 40%, rgb(12, 15, 34, 0) 100%),
        linear-gradient(to top, rgb(12, 15, 34) 2%, transparent 15%);
}

.title-img-frame > img {
    height: 120vh;
    transform: translate(-15%, 0px) rotate(0deg);
    mix-blend-mode: lighten;
    object-fit: cover;
    z-index: -100;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-269.7318vh);
  }
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px 150px 0px;
    width: 90%;
    height: fit-content;
}

.article-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px;
}

.article-info::after {
    content: "";
    position: absolute;
    inset: 0; 
    pointer-events: none;
    z-index: -2;
    background: rgba(12, 15, 34, 0.9);
    backdrop-filter: blur(10px);

    mask-image: 
        radial-gradient(rgba(12, 15, 34, 0.7) 50%, transparent 70%)
}

.article-info > h2 {
    font-size: clamp(3rem, 5vw, var(--title-size));
    color: var(--title);
    line-height: clamp(3rem, 10vw, 5rem);
    margin: 0px 0px 0px 0px;
}

.article-info > p {
    font-size: clamp(10px, 4vw, var(--text-size));
    color: var(--text);
    margin: 20px 0px 10px 0px;
}

.article-info > button {
    color: white;
    font-size: var(--text);
    background: none;
    border: white 1px solid;
    margin: 30px 0px 0px 0px;
    padding: 30px
}

.article-img {
    display: flex;
    width: 50%;
}

.article-img-frame {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.article-back-img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
}

#article-backImg-author {
    height: 850px;
    filter: brightness(50%) opacity(0.8);
    mix-blend-mode: screen;
}

#article-backImg-inspiration {
    height: 900px;
    filter: brightness(100%)
}

#article-backImg-book {
    height: 1000px;
    filter: brightness(70%);
}

.main-backImg {
    position: absolute;
    z-index: -100;
    left: -20%;
    top: 60%;
    width: 120%;
    object-fit: cover;
    transform: translateY(0);
    
    filter: opacity(0.8);
    mix-blend-mode: lighten;
    -webkit-mask-image:
        linear-gradient(to top, transparent 0%, black 15%),
        linear-gradient(to bottom, transparent 0%, black 15%),
        linear-gradient(to left, transparent 0%, black 70%);
    -webkit-mask-composite: destination-in;

    mask-image:
        linear-gradient(to top, transparent 0%, black 15%),
        linear-gradient(to bottom, transparent 0%, black 15%),
        linear-gradient(to left, transparent 0%, black 70%);
    mask-composite: intersect;
}

@supports (animation-timeline: scroll()) {
  .main-backImg {
    animation: parallax linear;
    animation-timeline: scroll(root);
    
  }

  @keyframes parallax {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(40%);
    }
  }
}


@media (max-width: 1024px) {
    article {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }
    .article-info {
        width: 100%;
        justify-content: flex-start !important;
        align-items: center !important;
        text-align: left !important;
    }

    .article-info h2 {
        text-align: center;
    }
    .article-img {
        width: 100%;
        justify-content: center !important;
        align-items: center !important;
    }

    .article-img-frame, .article-img-main {
        width: 80vw !important;
        max-width: 600px;
        height: auto !important;
    }

    .article-back-img {
        width: 130vw !important;
        max-width: 1000px;
        height: auto !important;
    }

    .main-backImg {
        height: 15%;
        width: auto;
    }
}

@media (max-width: 900px) {
    .title-img-frame > img {
        transform: translate(-40%, 0px) rotate(0deg);
    }
}

@media (max-height: 450px) {
    .title-img-title {
        display: none;
    }
}












