nav {
    position: fixed;
    z-index: 1000;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: rgba(12, 25, 44, 0.8);
}

nav::after {
    content: "";
    position: absolute;
    inset: 0; 
    pointer-events: none;
    z-index: -1;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    mask-image: radial-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.8) 90%,
        rgb(0, 0, 0, 0) 100%
    );
}

.nav-title h2 {
    color: white;
}

.nav-title > h2 {
    color: var(--title);
    font-size: 30px;
    margin: -15px 0px 10px 0px;
}

.nav-content {
    display: grid;
    grid-template-columns: auto auto; 
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 100%;
}

.nav-content * {
    color: var(--sub)
}

.nav-content-link {
    text-decoration: none;
    cursor: pointer;
}
