nav {
    position: fixed;
    z-index: 1000;
    left: 0px;
    top: 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    min-height: 100px;
    background-color: rgba(12, 25, 44, 0.8);
}

nav::after {
    content: "";
    position: absolute;
    inset: 0; 
    pointer-events: none;
    z-index: -1;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    mask-image: radial-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.8) 90%,
        rgb(0, 0, 0, 0) 100%
    );
}

.nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-title > * {
    color: var(--title);
    font-size: clamp(10px, 5vw, 30px);
    font-weight: 700;
    text-align: center;
}

.nav-content {
    display: grid;
    grid-template-columns: auto auto; 
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 100%;
}

.nav-content * {
    color: var(--sub);
    font-size: clamp(15px, 2vw, 15px);
}

.nav-content-link {
    text-decoration: none;
    cursor: pointer;
}
