
footer {
    width: 100%;
    height: fit-content;
    background: rgba(12, 25, 44, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 -8px 32px rgba(0, 0, 0, 0.3);
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 1%;
    padding: 20px;
    height: fit-content;
}

.footer-section {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    line-height: 2;
}

.footer-contact-images {
    display: flex;
    gap: 15px;
}

.footer-contact-images > img {
    height: 30px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin: 0px;
    color: var(--title);
}

.footer-section p {
    font-size: 1.1rem;
    color: var(--sub);
    margin: 0px;
}

.footer-section ul {
    margin: 0px;
    list-style: none;
    padding: 0;
}

.footer-section a {
    font-size: 1.1rem;
    color: var(--sub);
    text-decoration: none;
    cursor: pointer;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}


.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30%;
    width: 100%;
    height: 15vh;
    border-top: 1px solid var(--sub);
    padding: 0px 20px;
    font-size: 0.8rem;
    color: var(--sub);
}



@media (max-width: 1100px) {

    .footer-section {
        width: 20%;

    }

}

@media (max-width: 900px) {

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-section {
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}